sota/Data
sota/PNPP
sota/Point-Transformers
__pycache__/
sota/ExquisiteNetV2/cifar-10-python
sota/ExquisiteNetV2/cifar-10
*.bmp
build/
tests/*/outputs
slurm-*.out
slurm-*.err
slurm-results/
slurm_logs/
oldSlurm/
runs/*
!runs/.gitkeep
setup_uv.sh
uv.lock
.env
hostname.log
.venv/
.venv-backup*/
.vscode/
sota/ExquisiteNetV2/cifar-10-python.tar.gz
documentation/
.cursor/
notebook.md
/servers.json
/loadbalancer.log
plots/
!runs/auto_20251103_210131/
!runs/auto_20251103_210131/plots
!runs/auto_20251103_210131/logs/slurm-*
